*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Gilroy";
}
html,body{
height: 100%;
width: 100%;
}
.main{
height: 100%;
width: 100%;
display: flex;
}
.left{
height: 100%;
width: 38%;
position: relative;
}
.right{
height: 100%;
width: 62%;


}
.top{
width: 100%;
height: 50%;
display: flex;
}
.bottom{
width: 100%;
height: 50%;
background-image: url("https://plus.unsplash.com/premium_photo-1667543228378-ec4478ab2845?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
background-position: center;
}
.topl{
width: 55%;
height: 100%;

background-image: url("https://images.unsplash.com/photo-1611073061835-e77b1b16d3f3?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
background-position: center;
}
.topr{
width: 45%;
height: 100%;
background-image: url("https://images.unsplash.com/photo-1643996317182-5b01f9725953?q=80&w=2013&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
background-size: cover;
background-position: center;
}
.nav{
width: 100%;
padding: 20px 30px;
display: flex;
justify-content: space-between;


}
.rnav a{
margin-right: 20px;
text-decoration: none;
color: black;
font-weight: 500;
font-size: 14px;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text h1{
    font-size: 90px;
    font-weight: 900;
}
.text p{
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
margin-bottom: 20px;
}
.text a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 13px;
    opacity: 0.6;
    font-weight: 600;
}
@media(max-width: 500px){
.main{
    flex-wrap: wrap;
   
}
.left{
    width: 100%;
}
.right{
    width: 100%;
}
}